h1 {
  color: var(--text-color);
}
form {
  text-align: center;
  .text-container {
    position: relative;

    textarea {
      width: 100%;
      padding: 8px;
      color: var(--grey);
      border-radius: var(--border-radius);
    }

    app-bi-button {
      position: absolute;
      right: 5px;
      bottom: 20px;
    }
  }
}
