@import "assets/styles/index";

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
  font-display: swap;
}

body, html, p {
  margin:0;
  padding:0;
}

body {
  min-height: 100vh;

  background: #1488CC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.hide {
  display: none;
}

.show {
  display: inherit;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
